.logo-list {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  margin-bottom: 50px;
}
.logo-item {
  width: 12%;
  height: 100px;
  color: rgb(172, 171, 171);
}
.logo-item img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: all 0.5s ease 0s;
}
.logo-item img:hover {
  opacity: 1;
}
